# ALIASES

# TYPOS
alias ndoe="node"
alias wihch="which"
alias gti="git"

# CHROME
alias chrome="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"
alias chrome-canary="/Applications/Google\ Chrome\ Canary.app/Contents/MacOS/Google\ Chrome\ Canary"
alias chromium="/Applications/Chromium.app/Contents/MacOS/Chromium"

# PROFILE RELOAD
alias sbp="source ~/.bash_profile"
alias szp="source ~/.zshrc"

# better cat
alias cat="bat"

# make zip recursive
alias zip="zip -r"

# copy current git branch
alias cpbranch="git rev-parse --abbrev-ref HEAD | tr -d '[:space:]' | pbcopy"

# fast grep
alias fgrep="find . -type f | parallel -k -j150% -n 1000 -m grep -H -n"
### Stolen from Paul Irish dotfiles

# GIT STUFF

function clone() {
    git clone $1
    cd $(basename ${1%.*})
}

# git checkout master
alias master="git checkout master"

# pretty history graph
alias git_graph="git log --graph --decorate --oneline"

# delete branches merged to master
alias git_cleanup="master && git branch --merged master | grep -v '^[ *]*master$' | xargs git branch -d"

# Networking. IP address, dig, DNS
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
# alias dig="dig +nocmd any +multiline +noall +answer"
# wget sucks with certificates. Let's keep it simple.
alias wget="curl -O"

# Recursively delete `.DS_Store` files
alias cleanup_dsstore="find . -name '*.DS_Store' -type f -ls -delete"

alias diskspace_report="df -P -kHl"

# File size
alias fs="stat -f \"%z bytes\""

# Update installed Ruby gems, Homebrew, npm, and their installed packages
alias brew_update="brew -v update; brew cleanup --prune-prefix; brew doctor; npm-check -g -u"
