[rerere]
	enabled = true
	autoUpdate = true
[branch]
	autosetuprebase = always
[column]
	ui = auto
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[includeIf "gitdir:~/work"]
	path = ~/.gitconfig-work
[includeIf "gitdir:~/dev"]
	path = ~/.gitconfig-oss
