[rerere]
	enabled = true
	autoUpdate = true
[rebase]
  autosquash = true
[branch]
	autosetuprebase = always
[column]
	ui = auto
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	arborist = !git branch | grep -e $1 | xargs git branch -D
  fixup = !git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup
	get-trunk = !git symbolic-ref refs/remotes/origin/HEAD --short | sed 's/origin\\///'
	trunk = !git switch `git get-trunk` && git reset --hard origin/`git get-trunk` && git pull --set-upstream origin `git get-trunk`
	cleanup = !git trunk && git branch --merged | grep -v `git get-trunk` | xargs git branch -d
[includeIf "gitdir:~/work/"]
	path = ~/work.gitconfig
[includeIf "gitdir:~/dev/"]
	path = ~/oss.gitconfig
